<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net46" />
  <package id="Confluent.Kafka" version="0.9.5" targetFramework="net46" />
  <package id="librdkafka.redist" version="0.9.5" targetFramework="net46" />
  <package id="System.Threading.Tasks.Dataflow" version="4.7.0" targetFramework="net461" />
</packages>