<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.Log4Net1215" version="3.3.1" targetFramework="net46" />
  <package id="Confluent.Kafka" version="0.9.5" targetFramework="net46" />
  <package id="FluentAssertions" version="4.19.0" targetFramework="net46" />
  <package id="librdkafka.redist" version="0.9.5" targetFramework="net46" />
  <package id="log4net" version="2.0.5" targetFramework="net46" />
</packages>