# Sample as used with src/tests/docker-compose.yml
# Add private azure connection strings

azure_eventhub_connectionstring=

azure_servicebus_connectionstring=

azure_storagecontainer_connectionstring=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://localhost:11000/devstoreaccount1;azure_storagecontainer_connectionstring=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://localhost:11000/devstoreaccount1;QueueEndpoint=http://localhost:11001/devstoreaccount1;TableEndpoint=http://localhost:11002/devstoreaccount1;=http://localhost:11001/devstoreaccount1;TableEndpoint=http://localhost:11002/devstoreaccount1;

kafka_brokers=localhost:9092
kafka_secure=false
kafka_username=user
kafka_password=password

mqtt_server=localhost
mqtt_secure=false
mqtt_port=1883
mqtt_username=
mqtt_password=

sqlserver_connectionstring=Server=localhost;Initial Catalog=SlimMessageBus_Outbox;User ID=sa;Password=SuperSecretP@55word;TrustServerCertificate=true;MultipleActiveResultSets=true;

rabbitmq_connectionstring=amqp://localhost

redis_connectionstring=localhost:6379

nats_endpoint=nats://localhost:4222