# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: build

on:
  push:
    branches: ["master", "release/*", "feature/*"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:
    branches: ["master", "release/*", "feature/*"]

env:
  SOLUTION_NAME: SlimMessageBus.sln
  SOLUTION_CONFIGURATION: Release

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: int-tests

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Restore dependencies
        run: dotnet restore $SOLUTION_NAME
        working-directory: ./src

      - name: Install SonarCloud scanner
        run: dotnet tool update dotnet-sonarscanner --tool-path ./.sonar/scanner

      - name: Install Coverlet
        run: find . -name "*.Test.csproj" | xargs -t -I {} dotnet add {} package coverlet.collector
        working-directory: ./src

      - name: SonarScanner Begin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ../.sonar/scanner/dotnet-sonarscanner begin /k:"zarusz_SlimMessageBus" /o:"zarusz" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.cs.opencover.reportsPaths=coverage.xml
        working-directory: ./src

      - name: Build
        run: dotnet build $SOLUTION_NAME --configuration $SOLUTION_CONFIGURATION --no-restore
        working-directory: ./src
      - name: Unit Tests
        run: dotnet test $SOLUTION_NAME --configuration $SOLUTION_CONFIGURATION --no-build --verbosity normal --logger html --results-directory TestResults --collect:"XPlat Code Coverage;Format=opencover" --filter Category!=Integration
        working-directory: ./src

      # - name: Dump GitHub context
      #   env:
      #     GITHUB_CONTEXT: ${{ toJson(github) }}
      #   run: echo "$GITHUB_CONTEXT"
      # Run integration tests against the test infrastructure if secrets are provided

      - name: SonarScanner End
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ../.sonar/scanner/dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
        working-directory: ./src

      - name: Integrations Tests
        if: "${{ env.azure_servicebus_key != '' }}"
        run: dotnet test $SOLUTION_NAME --configuration $SOLUTION_CONFIGURATION --no-build --verbosity normal --logger html --results-directory TestResults --collect:"XPlat Code Coverage;Format=opencover" --filter Category=Integration
        working-directory: ./src
        env:
          azure_servicebus_key: ${{ secrets.azure_servicebus_key }}
          azure_eventhub_key: ${{ secrets.azure_eventhub_key }}
          azure_eventhub_storage_key: ${{ secrets.azure_eventhub_storage_key }}
          azure_sql_password: ${{ secrets.azure_sql_password }}
          kafka_username: ${{ secrets.kafka_username }}
          kafka_password: ${{ secrets.kafka_password }}
          redis_password: ${{ secrets.redis_password }}
          mqtt_password: ${{ secrets.mqtt_password }}
          rabbitmq_password: ${{ secrets.rabbitmq_password }}
      - name: Upload test results
        uses: actions/upload-artifact@v3
        with:
          name: dotnet-results
          path: ./src/TestResults
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
      - name: Copy NuGet packages
        shell: bash
        run: |
          mkdir ./dist
          find -name "*.nupkg" -exec cp {} ./dist \;
          find ./dist
      - name: Archive NuGet packages
        uses: actions/upload-artifact@v3
        with:
          name: nuget-packages
          path: "./dist"
